// Custom.scss
$offCanvace-color-body: #0f141e;
$text-color: #8b8e93;
// NavBar shadow reset
.navbar-toggler:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

// btn close customize

.offcanvas-header .btn-close {
  font-weight: 32px;
  position: relative;
  color: $text-color;

  &::before {
    content: 'Close';
    position: absolute;
    right: 50%;
    transform: translate();
    top: 41%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-transform: uppercase;
    color: $text-color;
  }
}
.offcanvas-title {
  svg {
    fill: $text-color;
  }
}
// custmize offCanvas Show
.offcanvas-backdrop.show {
  opacity: 0;
}
.offcanvas.show {
  height: 100vh;
  background-color: $offCanvace-color-body;
}

// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't b#878a8fe available)

@import '../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here
