.footer {
  margin-top: 5rem;
  &_title {
    text-transform: capitalize;
    font-size: 2.5rem;
    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
  }
  &_text {
    color: $text-color;
  }
  .nav {
    &-item {
    }
    &-link {
      color: #000;
      text-transform: capitalize;
      &:hover {
        color: $text-color;
      }
    }
  }
}
