.header {
  margin-top: 5rem;
  min-height: calc(80vh);
  &_logo {
    position: absolute;
    top: 5rem;
    z-index: 1;
    transform: translateX(50%);
    right: 50%;
    &-img {
      opacity: 0.05;
    }
  }
  .header .row {
    align-items: first baseline;
  }

  &_personal {
    // width: 25%;
    position: absolute;
    z-index: 2;
    right: 5rem;
    top: -4rem;
    @include media-breakpoint-down(md) {
      left: 50%;
      top: 32%;
      transform: translate(-50%, -50%);
      right: initial;
    }
    @include media-breakpoint-down(sm) {
      left: 30%;
      margin-bottom: 2rem;
    }
  }

  &_content {
    position: absolute;
    z-index: 3;
    @include media-breakpoint-down(md) {
      top: 40%;
      justify-content: flex-start;
    }
    .space {
      margin-top: 16rem;
    }
    &-user {
      color: $text-color;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-top: 2rem;
      font-size: 0.9rem;
    }
    &-job {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 4rem;
      @include media-breakpoint-down(md) {
        font-size: 1.5rem;
      }
    }
    &-wrap {
      flex-wrap: wrap;
      &-info {
        color: $text-color;
      }
    }

    &-icon {
      display: flex;
      color: #000;
      margin-bottom: 5rem;
      @include media-breakpoint-down(md) {
        margin-top: 2rem;
      }
      &:hover {
        color: $text-color;
      }
      svg {
        margin: auto;
        animation-name: IconAnimate;
        animation-duration: 4s;
        animation-delay: -2s;
        animation-iteration-count: infinite;
      }
    }
    &-links {
      @include media-breakpoint-down(md) {
        margin-top: 2rem;
      }
      color: #000 !important;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 1rem;
      text-decoration: none;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        bottom: -7px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #000;
        display: none;
        transition: all 1s ease-in-out;
      }

      &:hover:before {
        display: block;
        color: #000 !important;
      }
    }
  }
}

@keyframes IconAnimate {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(40px);
  }
}
