@import 'topnavigation';
@import 'custom';
@import 'header';
@import 'case-study';
@import 'contact-icon';
@import 'work';
@import 'footer';
body {
  font-family: 'Helvetica Now Display DW', sans-serif;
  overflow-x: hidden;
}
.logo {
  min-width: 200px;
}
.menu {
  font-family: 'Helvetica Now Display DW';
  font-weight: bold;
  font-size: 18px;
}

.menulogo {
  &:hover svg {
    fill: #ffff;
  }
  svg {
    fill: $text-color;
  }
}

.copyright {
  text-align: center;
  color: $text-color;
  font-size: 0.9rem;
  text-transform: capitalize;
}
