.portfolio {
  margin-top: 10rem;
  .case {
    width: 90%;
  }
  &_small {
    color: $text-color;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &_big {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  &_text {
    color: $text-color;
    font-size: 1rem;
  }
}
.image-showcase {
  margin-top: 5rem;
}
